<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f3712a8-b0ed-48a9-a969-9f06a7f008cb" Alias="Products (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products1</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-05-31T16:12:27</CreateDate>
    <NodeName Default="Products (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>