@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<UmbracoProject1.ViewModels.ProductListingViewModel>

<div class="product-container">
    @foreach(var product in Model.Products)
    {
        <strong>@product.id | @product.name</strong>
        <img src="@product.imageUrl" />
    }
</div>