<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="176f1d3e-9b9c-4c0e-93b1-32141bd2f4c1" Alias="tutorialPage" Level="1">
  <Info>
    <Name>TutorialPage</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TutorialPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="81ac8f3b-628d-4b41-9ba1-ce17e85b1d23">TutorialPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>1ee9b0d5-e168-4275-b38b-bee2a68d4c0c</Key>
      <Name>Block list content body</Name>
      <Alias>blockListContentBody</Alias>
      <Definition>50b41fda-8efe-4884-bf9a-d44ec032cb0c</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainContent">MainContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5df788f1-fd8b-4481-903d-0abab2fe73e5</Key>
      <Caption>MainContent</Caption>
      <Alias>mainContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>