<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50b41fda-8efe-4884-bf9a-d44ec032cb0c" Alias="Content body - Block List" Level="1">
  <Info>
    <Name>Content body - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b3d510f7-b0d2-4db7-8ceb-d712e72756d9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Rich text editor",
      "settingsElementTypeKey": "15c9d09e-b7c6-4c70-afbd-25a72ad0f4aa",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/RichText/RichText.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "481218a7-cfcd-4b96-875e-fdb4c07839fe",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Image",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/Image/Image.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "00c88572-eb2c-47a9-bb25-8e180bede5ca",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "ProductListing",
      "settingsElementTypeKey": "ba95f8f3-ca16-45f3-9c89-ff88219db9b4",
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListElements/ProductListing/productlisting.html"
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>