<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8a31ad74-88f7-4d21-9ec2-0891dc51c7cb" Alias="Person - Github user - Github user" Level="1">
  <Info>
    <Name>Person - Github user - Github user</Name>
    <EditorAlias>githubUser</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>