<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f405f72f-ead6-4413-8fe0-7addf45404a1" Alias="RichText settings - Background color - Color Picker" Level="1">
  <Info>
    <Name>RichText settings - Background color - Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"e06666\",\"label\":\"e06666\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"6aa84f\",\"label\":\"6aa84f\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"6fa8dc\",\"label\":\"6fa8dc\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>